name: test

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test:
    name: Test
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        lisp:
        - abcl
        - ccl
        - clasp
        - ecl
        - sbcl
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/yitzchak/archlinux-cl:latest
      options: --security-opt seccomp:unconfined
    steps:
    - name: Checkout nontrivial-gray-streams
      uses: actions/checkout@v6
      with:
        repository: yitzchak/nontrivial-gray-streams
        path: nontrivial-gray-streams
    - name: Checkout Quaviver
      uses: actions/checkout@v6
      with:
        repository: s-expressionists/Quaviver
        path: quaviver
    - name: Checkout Incless
      uses: actions/checkout@v6
      with:
        path: incless
    - name: Checkout Inravina
      uses: actions/checkout@v6
      with:
        repository: s-expressionists/Inravina
        path: inravina
    - name: Checkout Invistra
      uses: actions/checkout@v6
      with:
        repository: s-expressionists/Invistra
        path: invistra
    - name: Setup Lisp Environment
      run: |
        make-rc
        asdf-add
    - name: Run ANSI Tests
      run: |
        lisp -i ${{ matrix.lisp }} -e "(asdf:load-system :incless-extrinsic/test)" -e "(incless-extrinsic/test:test :exit t)"
